/* #region debug */
.debug header {
    background-color: lightcoral;
    height: 30px;
}

.debug .logo,
.debug .target,
.debug .carrello {
    background-color: red;
    height: 30px;
    border: 1px solid;
}

.debug main .col-4 {
    background-color: brown;
    border: 1px solid;
    height: 300px;
    padding: 1rem;
}

.debug footer {
    background-color: darkblue;
    height: 30px;
}

/* #endregion debug */

/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 75%;
    margin: auto;
}

.p_relative {
    position: relative;
}

.row {
    display: flex;
}

a {
    text-decoration: none;

}

img {
    max-width: 100%;
}

i {
    color: white;
}

/* #endregion common */

/* #region utility */
:root {
    --peculiarity: #008000;
    --dark: #1A1A1A;
    --disc: #FF0000;
    --primary: #FF6900;
    --light: white;
}

.d-flex {
    display: flex;
}

.col-4 {
    width: calc(100%/12 *4);
}

.col-6 {
    width: calc(100%/12 *6);
}

.col-7 {
    width: calc(100%/12 *7);
}

.mg_left {
    margin-left: -1rem;
}

.mg_right {
    margin-right: -1rem;
}

.pt_3 {
    padding-top: 3rem;
}

/* #endregion utility */

/* #region header */
header .row {
    align-items: center;

}

header {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: var(--primary);
    padding: 1%;
    z-index: 1000;
}

.target a {
    color: var(--light);
    font-size: 0.5rem;
    padding-right: 1%;
}


.logo img {
    width: 40%;
    position: absolute;
    left: 50%;
    align-self: center;
}

.carrello {
    text-align: center;
    font-size: 0.5rem;
    justify-content: flex-end;
}

.carrello i {
    padding-left: 1%;
}

/* #endregion header */

/* #region main */
main .row {
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.card-t {
    position: relative;

}

.card-t img {
    padding: 2%;
}

.badge {
    color: var(--light);
    font-size: 0.5rem;
    position: absolute;
    bottom: 20%;
    margin-left: 2%;
}

.badge-discount {
    background-color: var(--disc);
}

.badge-peculiarity {
    background-color: var(--peculiarity);
}

.like {
    background-color: var(--light);
    padding: 3%;
    position: absolute;
    top: 3%;
    right: 0;
}

.card-b {
    margin-top: -5%;
    margin-left: 2%
}

.marca {
    font-size: 0.4rem;
    color: var(--dark);
    font-weight: 200;
}

.card-b .row {
    flex-direction: column;
    padding-top: 5%;
}

.card-b h6 {
    font-size: 0.55rem;
}

.price {
    font-size: 0.5rem;
}

.price.discount {
    color: var(--disc);
}

.price.full {
    font-weight: 100;
    text-decoration: line-through;
}



/* #endregion main*/