/* #region debug */
.debug header {
    background-color: lightcoral;
    height: 30px;
}

.debug .logo,
.debug .target,
.debug .carrello {
    background-color: red;
    height: 30px;
    border: 1px solid;
}

.debug main .col-4 {
    background-color: brown;
    border: 1px solid;
    height: 300px;
    padding: 1rem;
}

.debug footer {
    background-color: darkblue;
    height: 30px;
}

/* #endregion debug */

/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font{
    font-family: 'Inter', sans-serif;
}

.container {
    width: 75%;
    margin: auto;
}
.p_relative{
    position: relative;
}
.row {
    display: flex;
}

a {
    text-decoration: none;
    
}

img{
    max-width: 100%;
}

i{
    color: white;
}
/* #endregion common */

/* #region utility */
:root {
    --peculiarity: #008000;
    --dark: #1A1A1A;
    --disc: #FF0000;
    --primary: #FF6900;
    --light: white;
}

.d-flex {
    display: flex;
}

.col-4 {
    width: calc(100%/12 *4);
}

.mg_left {
    margin-left: -1rem;
}

.mg_right {
    margin-right: -1rem;
}

.pt_3 {
    padding-top: 3rem;
}

/* #endregion utility */

/* #region header */
header .row {
    align-items: center;

}
header .col-4{
    
}

header {
    width: 100%;
    position: fixed;
    background-color: var(--primary);
    padding: 1%;
}
.target{
    lign-items: center;
}
.target a{
    color: var(--light);
    font-size: 0.5rem;
    padding-right: 1%;
}


.logo img{
    width: 40%;
    position: absolute;
    left: 50%;
    align-self: center;
}
.carrello{
    text-align: center;
    font-size: 0.5rem;
    justify-content: flex-end;
}
.carrello i{
    padding-left: 1%;
}
/* #endregion header */

/* #region main */
main .row {
    flex-wrap: wrap;
    padding-bottom: 1rem;
}
.card-t{
    position: relative;
}
.badge{
    color: var(--light);
    font-size: 0.5rem;
    position: absolute;
    bottom: 20%;
}
.badge-discount{
    background-color: var(--disc);
}
.badge-peculiarity{
    background-color: var(--peculiarity);
}



/* #endregion main*/